* {
    margin: 0;
    padding: 0;
}

html {
    background: black;
}

body {
    height: 100%;
}


.calculator {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: Courier;
    color: white;
}

.screen {
    margin: 0 auto;
    height: 65px;
    width: 300px;
    background-color: rgb(235, 235, 235);
    border: 2px solid grey;
}

.button-board {
    display: flex;
    flex-wrap: wrap;
    background: rgb(235, 235, 235);
    height: 400px;
    width: 300px; 
    margin: 0 auto;
    
}

.button {
    width: 70px;
    height: 70px;
    border-radius: 25%;
}

