:root {
    --lighter: #f9d7fed9;
    --light: #9aa8ffd9;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(0, 0, 39);
}

body {
    height: 100%;
}


.calculator {
    background: linear-gradient(var(--lighter), var(--light));
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: Courier;
    color: white;
}

.screen {
    margin: 0 auto;
    margin-top: 120px;
    height: 70px;
    width: 300px;
    background-color: rgb(235, 235, 235);
    border: 2px solid grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
    
}

.button-board {
    display: flex;
    flex-wrap: wrap;
    background: rgb(47, 47, 47);
    height: 400px;
    width: 300px; 
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.button {
    font-size: 1.5rem;
    font-style: white;
    width: 70px;
    height: 70px;
    border-radius: 25%;
    background: linear-gradient(to right, var(--lighter), var(--light))
}

